

<article>
<div class="control" style="text-align: center">
    <label>Take picture: </label>
    <div style="text-align: center;">
        <img id="TakeImage" src="/img/camera.svg"></img>
    </div>
    
</div>
<div class="image">
    <img id="Image" src="/image.png" />
    
</div>
<div id="output"></div>
</article>

