

<article>
<div class="control" style="text-align: center">
    <label>Take picture: </label>
    <div style="text-align: center;">
        <img id="TakeImage" src="/img/camera.svg"></img>
    </div>
    <br><br><br>
    <label>Auto update</label>
    <!--<div><input id="Interval" type="text" maxlength="4" style="width: 50px;" /></div>-->
    <div><input id="StartButton" type="button" value="Start" /></div>
    <div><input id="StopButton" type="button" value="Stop" /></div>
</div>
<div class="image">
    <img id="Image" src="/image.png" />    
</div>
<div id="output"></div>
</article>

